/* Breakpoints */
/* Maximum Grid Width */
/* line 3, ../sass/partials/_standardgrid.scss */
#standardgrid {
  background: #dfc39f;
}
/* line 6, ../sass/partials/_standardgrid.scss */
#standardgrid .grid-width {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../sass/partials/_standardgrid.scss */
#standardgrid .grid-width img {
  margin: .25em;
  width: 9em;
}

@media (min-width: 40.063em) {
  /* line 22, ../sass/partials/_standardgrid.scss */
  #standardgrid .grid-width img {
    width: auto;
  }
}
/* line 3, ../sass/partials/_flexbox.scss */
.flexbox-container, #flexbox .grid-width {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 10, ../sass/partials/_flexbox.scss */
.flex-item, #flexbox .grid-width img {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 14, ../sass/partials/_flexbox.scss */
#flexbox {
  background: #a9df9f;
}
/* line 20, ../sass/partials/_flexbox.scss */
#flexbox .grid-width img {
  margin: .25em;
}

/* line 14, ../sass/partials/_intrinsicratio.scss */
.element-to-stretch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/partials/_intrinsicratio.scss */
#intrinsic-wrapper {
  background: #d0df9f;
}
/* line 25, ../sass/partials/_intrinsicratio.scss */
#intrinsic-wrapper .grid-width {
  text-align: center;
}
/* line 29, ../sass/partials/_intrinsicratio.scss */
#intrinsic-wrapper .img-width {
  max-width: 14.5em;
  width: 46.5%;
  display: inline-block;
  margin: .25em;
}
/* line 36, ../sass/partials/_intrinsicratio.scss */
#intrinsic-wrapper .inner {
  position: relative;
  padding: 0 0 133.47458% 0;
  height: 0;
}
/* line 5, ../sass/partials/_intrinsicratio.scss */
#intrinsic-wrapper .inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Breakpoints */
/* Maximum Grid Width */
/* https://github.com/Team-Sass/Singularity */
/* Singularity GS */
/* line 22, ../sass/partials/_singularitydemo.scss */
#singularitygs {
  overflow: hidden;
  *zoom: 1;
  background: #df9fbb;
}
/* line 26, ../sass/partials/_singularitydemo.scss */
#singularitygs img {
  width: 50%;
  clear: right;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 3em;
}

@media (min-width: 40.063em) {
  /* line 34, ../sass/partials/_singularitydemo.scss */
  #singularitygs .grid-width {
    width: 95%;
    margin: 0 auto;
  }
  /* line 39, ../sass/partials/_singularitydemo.scss */
  #singularitygs img {
    width: 33.33333%;
    clear: right;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media (min-width: 64.063em) {
  /* line 47, ../sass/partials/_singularitydemo.scss */
  #singularitygs img {
    width: 25%;
    clear: right;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media (min-width: 102.063em) {
  /* line 55, ../sass/partials/_singularitydemo.scss */
  #singularitygs img {
    width: 16.66667%;
    clear: right;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
/* line 9, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
h1 {
  font-size: 1em;
}

/* line 17, ../sass/main.scss */
.grid-width {
  max-width: 3200px;
}
